.chat-main

    .chat-main__group-info
        .group-info__info
            %p.group-info__group-name test
            %p.group-info__member Member:
        .group-info__edit Edit

    .chat-main__message-list
        .message-list__box
            %p.message-list__Sender masa
            %p.message-list__date 2020/06/23
            %p.message-list__message おはよう！

            %p.message-list__Sender masa
            %p.message-list__date 2020/06/23
            %p.message-list__message おはよう！

            %p.message-list__Sender masa
            %p.message-list__date 2020/06/23
            %p.message-list__message おはよう！

    .Footer
        %form.Form
            %input.authenticity_token{"type": "hidden"}
            .Form__contents
                %input.Form__inputContent{"placeholder": "type a message", "type": "text"}
                %label.Form__inputImage{"type": "file"}
                    = icon('far', 'image',class: "Form__icon")
                    %input.Hidden{"type": "hidden"}
            %input.Form__submit{"value": "Send", "type": "submit" }
    

