.chat-main {
    float: right;
    width: calc(100vw - 300px);

    &__group-info {
        background-color: #242423;
        width: calc(100vw - 300px);
        height: 100px;
        border-bottom: solid 1px  #cfdbd5;
        display: flex;
        position: fixed;
        justify-content: space-between;

        &__info{
            display: block;
            padding: 35px 0px 0px 40px;
            width: auto;
            height: 100px;
            float: left;
        
            &-groupname {
                color: #ffffff;
                font-size: 20px;
                width: auto;
                height: auto;
            }

            &-member {
                color: #ffffff;
                font-size: 12px;
                width: auto;
                height: auto;
                margin: 15px 0px 0px 0px;
            }

        }

        &-edit {
            color: #242423;
            font-size: 16px;
            width: 72px;
            height: 40px;
            padding: 0px 20px;
            background-image: -webkit-radial-gradient(#ecae03, #f0d794);
            background-image: radial-gradient(#ecae03, #f0d794);
            margin: 28px 40px  0px 0px;
            float: right;
            line-height: 40px;
            border-radius: 5px;

            .EDITlink {
                text-decoration:none;
            }

            a:visited{
                color: #ffffff;
            }
        }


    }

    &__message-list {
        background-color: #eeeded;
        width: calc(100vw - 300px);
        height: calc(100vh - 190px);

        .message-list__box {
            margin-top: 100px;
            padding: 35px 0px 0px 40px;
            // スクロールを考えるとこれでいいのか疑問。やすなさんに確認

            height: auto;
            width: auto;

            .message-list__Sender {
                width: auto;
                height: auto;
                padding-right: 10px;
                color: #333333;
                font-size: 16px;
                display: inline;
            
            }
            .message-list__date {
                color: #999999;
                font-size: 12px;
                display: inline;
            
            }
            .message-list__message {
                color: #434A54;
                font-size: 14px;
                padding-bottom: 46px;
                
            }
        }
    
    }

    .Footer {
        background-color: #e2e2e2;
        box-sizing: border-box;
        height: 90px;
        padding: 20px 50px 20px 40px;
        //見本のCSのpaddingはこれだけど、カリキュラムと違う？

        .Form {
            display: flex;
            justify-content: space-between;

            .Form__contents {
                width: 100%;
                background-color: #ffffff;
                position: relative;
                
                .Form__inputContent {
                    border: none;
                    height: 50px;
                    width: 100%;
                    padding: 0 45px 0 10px;
                }

                .Form__inputImage {
                    height: 50px;
                    position: absolute;
                    right: 10px;

                    .Form__icon {
                        line-height: 50px;
                        font-size: 25px;
                    }
                    .Hidden {
                        display: none;
                    }
                }
            }
            .Form__submit {
                background-color: #f5cb5c;
                border: none;
                color: #ffffff;
                font-size: 16px;
                height: 50px;
                margin-left: 15px;
                padding: 0 30px;
                border-radius: 5px;
            }
        }
    }

}