.side-bar {
    float: left;

    .side-bar__master-name {
        background-color: #253141 ;
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .top-items {
            width: 260px;
            height: 20px;
        }

            .top-items__name {
                font-size: 16px;
                float: left;
                width: 200px;
                height: 20px;
                color:#ffffff;
            }

            .top-items__icons {
                width: 60px;
                float: right;
                height: 20px;
                color: #ffffff;

            }
    
    }

    .side-bar__group-list {
        background-color: #2f3e51 ;
        width: 300px;
        height: calc(100vh - 100px);
    }
}