.side-bar

    .side-bar__master-name  

        .top-items

            %p.top-items__name masa

            .top-items__icons
                = icon('far', 'edit',class: "icons__btn--edit")
                = icon('fas', 'cog',class: "icons__btn--setting")
    
    .side-bar__group-list
        %p.group-list__group-name tech-camp
        %p.group-list__new-message まだメッセージがありません
